body {
  text-align: center;
  font-family: "Indie Flower", cursive;
}
main {
  min-height: calc(100vh - 70px);
  font-size: 40px;
}

section#quotes-wrapper {
  color: #494949;
}

section#result-wrapper {
  font-size: 20px;
  padding: 50px 0 0 10px;
}

section#button-wrapper {
  padding: 80px;
  /* flex-flow: column wrap;*/
}

section#button-wrapper input {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949;
  display: inline-block;
  transition: all 0.4s ease 0s;
  width: 200px;
  font-weight: bold;
}

section#button-wrapper input:hover {
  color: #ffffff;
  background: #494949;
  border-color: #494949;
  transition: all 0.4s ease 0s;
}

footer {
  background-color: #494949;
  overflow: hidden;
  color: #ffffff;
  text-align: center;
  height: 70px;
  font-size: 20px;
  padding-top: 20px;
}

footer #social-media .icon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
}

footer #social-media .icon-list li {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer #social-media a.icon {
  font-size: 20px;
  line-height: 20px;
  padding: 10px;
  background: #494949;
  color: #fff;
  margin-right: 10px;
  margin-bottom: 10px;
}
footer #social-media a.icon:hover {
  background: #7c7c7c;
}

@media only screen and (max-width: 600px) {
  main {
    font-size: 30px;
  }

  section#button-wrapper input {
    margin-bottom: 20px;
  }

}
